extends layout

block content
  link(rel='stylesheet', href='../css/caag.css')
  table.table.table-responsive.caag
    thead.thead-inverse
      th Time
      th Fort Peck
      th Grand ABC
      th Lake Sammamish
      th Lake Couer d'Alene
      th Lake Chelan
      th Lake WA
    tbody
      tr
        td 8:30-9:30
        td
          a(href="/event/58da811695d1f2cca324cc60")
            .category Choir
            .presenter Larsen
            .title Starting from Scratch
        td
        td
          a(href="/event/58da811695d1f2cca324cc57")
            .category Orchestra
            .presenter Arksey
            .title Violin/Viola Vibraro
        td
          a(href="/event/58da811695d1f2cca324cc59")
            .category General
            .presenter Cappello
            .title Student Teacher
        td
        td
          a(href="/event/58da811695d1f2cca324cc62")
            .category Band
            .presenter Crider
            .title Things I've Learned
      tr
        td 9:50-10:50
        td
          a(href="/event/59078875f922141ec6250680")
            .category Choir
            .presenter Conley_Holcom
            .title Gesture Without Pain
        td
          a(href="/event/58da811695d1f2cca324cc63")
            .category Band
            .category Concert Hour
            .presenter 10th St MS
            .presenter Mercer Is HS
        td
        td
          a(href="/event/590788b3f922141ec6250681")
            .category Small Schools
            .presenter Bowerly
            .title Special Small School
        td
          a(href="/event/590788f3f922141ec6250682")
            .category Band
            .presenter Noppe
            .title Empowering Chamber Music
        td
          a(href="/event/58fd2d80e75a24680f60de5e")
            .category Band
            .presenter Chapman
            .title Maestro's Challenge
      tr
        td 11:00-12:00
        td.big-event(colspan=7)
          a(href="/event/590cbe709e9a640deca2020f") Grand Exhibit Opening
      tr
        td 12:15-1:15
        td
          a(href="/event/5907895af922141ec6250683")
            .category Elementary
            .presenter Branigan
            .title Multicultural Classroom
        td
          a(href="/event/590789a2f922141ec6250684")
            .category Band
            .presenter Norfleet
            .title Superior Rehearsals Tone & Intonation
        td
          a(href="/event/58fd0de5f597d966a2d66d6a")
            .category Choir
            .presenter Wieck
            .title Voice Teacher
        td
          a(href="/event/590789d5f922141ec6250685")
            .category General
            .presenter Murtfeldt
            .title Avoid Burnout
        td
        td
          a(href="/event/590789f6f922141ec6250686")
            .category Band
            .presenter Crider
            .title Praise for Teachers
      tr
        td 1:30:2:50
        td.big-event(colspan=7)
          a(href='/event/590ccdb384b9ef0e57852b40') General Session and Keynote
            p.big-event Featuring: Eph Ehly
            p.big-event With special guest Denese Odegaard and a performance by St. Patrick School's Choir
      tr
        td 3:00-3:30
        td.big-event(colspan=7)
          a(href="/event/590cbf079e9a640deca20210") Visit the Exhibits
      tr
        td 3:30-4:30
        td
          a(href="/event/590cbb789e9a640deca20209")
            .category General
            .presenter Copeland
            .title Rethink Posture
        td
          a(href="/event/590cbbec9e9a640deca2020a")
            .category Band
            .category Concert Hour
            .presenter Sherwood HS
            .presenter CWU
        td
          a(href="/event/590cbc509e9a640deca2020b")
            .category Band
            .presenter Miller
            .title Back Row Basics
        td
          a(href="/event/590cbca79e9a640deca2020c")
            .category Collegiate
            .presenter Gerhardstein
            .title Success Collegiate Life
        td
          a(href="/event/590cbd2e9e9a640deca2020d")
            .category General
            .presenter Cooper
            .title Moving Dark Side
        td
          a(href="/event/590cbd8f9e9a640deca2020e")
            .category Choir
            .presenter Wells
            .title Masterwords Choral/Orch Repertoire
      tr
        td 5:30-6:30
        td.big-event(colspan=7)
          a(href="/event/590cbfa69e9a640deca20211") WMEA Collegiate/Tri-M Dinner Evergreen North Foyer
      tr
        td 5:30-8:00/6:00-8:00
        td.big-event(colspan=7)
          a(href="/list?findkey=category&findvalue=University Reception") University Receptions - see page 32 for details
            p.big-event A Very Jazzy Happy Hour: Sponsore by WMEA, Ted Brown Music and Quavermusic.com
      tr
        td 8:00-10:00
        td.big-event(colspan=7) Jazz Performance @ Hyatt Grand Ballroom
          p.big-event Featuring: Gail Pettis and Just 4 Kicks