extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            col-xs-12.col-sm-12.col-md-12
              label Exhibit
                input#exhibit.form-control.input-required(autofocus=true name="exhibit", placeholder="Required", required)
              label Booth
                input#booth.form-control(name="booth")
              label Exhibitor
                input#exhibitor.form-control(name="exhibitor")
              label Title of Exhibitor
                input#title.form-control(name="title")
              label Address
                input#address.form-control(name="address")
              label City
                input#city.form-control(name="city")
              label State
                input#state.form-control(name="state", placeholder="ST")
              label Zip
                input#zip.form-control(name="zip")
              label email
                input#email.form-control(type="email" ng-model="email", name="email")
              label Phone
                input#phone.form-control(type="phone" name="phone", placeholder="XXX-XXX-XXXX")
              label Website
                input#web.form-control(name="web")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            col-xs-12.col-sm-12.col-md-12
              label Description
                textarea#description.form-control(name="description",  rows="16")
          .form-group
            .col-xs-12.col-sm-12
              p
              hr
              a.button.btn.btn-default(onclick="window.history.back()", role="button") Cancel
              button.btn.btn-default.pull-right(type="Submit" value='Submit') Save