extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            col-xs-12.col-sm-12.col-md-12
              input#exhibit.form-control(autofocus=true name="exhibit", placeholder="exhibit")
              input#booth.form-control(name="booth", placeholder="booth")
              input#exhibitor.form-control(name="exhibitor", placeholder="exhibitor")
              input#title.form-control(name="title", placeholder="title")
              input#address.form-control(name="address", placeholder="address")
              input#city.form-control(name="city", placeholder="city")
              input#state.form-control(name="state", placeholder="state")
              input#zip.form-control(name="zip", placeholder="zip")
              input#email.form-control(type="email" name="email", placeholder="email")
              input#phone.form-control(type="phone" name="phone", placeholder="phone")
              input#email.form-control(name="web", placeholder="website")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            col-xs-12.col-sm-12.col-md-12
              textarea#description.form-control(name="description", placeholder="description", rows="16")
          .form-group
            .col-xs-12.col-sm-12
              p
              hr
              a.button.btn.btn-default(href='/exhibits') Cancel              
              button.btn.btn-default.pull-right(type="Submit" value='Submit') Save