extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .col-xs-12.col-sm-6.col-md-3
          .form-group
            col-xs-12.col-sm-12.col-md-12
              p INSTRUMENT
              label Instrument
                input#instrument.form-control(autofocus=true name="instrument", placeholder="instrument", required)
              label Serial Number
                input#serial.form-control(name="serial", placeholder="serial number")
              label Make
                input#make.form-control(name="make", placeholder="make")
              label Model
                input#model.form-control(name="model", placeholder="model")
              label Owner
                input#owner.form-control(name="owner", placeholder="owner")
              label Group Assignment
                input#group.form-control(name="group", placeholder="assigned to group")
        .col-xs-12.col-sm-6.col-md-3
          .form-group
            col-xs-12.col-sm-12.col-md-12
              p PICKUP
              label Building
                input#pickupBuilding.form-control(name="pickupBuilding", placeholder="Pickup Building")
              label Room
                input#pickupRoom.form-control(name="pickupRoom", placeholder="Pickup Room")
              label Date
                input#pickupDate.form-control(name="pickupDate", placeholder="Pickup Date")
              label Time
                input#pickupTime.form-control(name="pickupTime", placeholder="Pickup Time")
              label Manager
                input#pickupPerson.form-control(name="pickupPerson", placeholder="Pickup Person")
        .col-xs-12.col-sm-6.col-md-3
          .form-group
            col-xs-12.col-sm-12.col-md-12
              p DELIVERY
              label Building
                input#deliveryBuilding.form-control(name="deliveryBuilding", placeholder="Delivery Building")
              label Room
                input#deliveryRoom.form-control(name="deliveryRoom", placeholder="Delivery Room")
              label Date
                input#deliveryDate.form-control(name="deliveryDate", placeholder="Delivery Date")
              label Time
                input#deliveryTime.form-control(name="deliveryTime", placeholder="Delivery Time")
              label Manager
                input#deliveryPerson.form-control(name="deliveryPerson", placeholder="Delivery Manager")
        .col-xs-12.col-sm-6.col-md-3
          .form-group
            col-xs-12.col-sm-12.col-md-12
              p RETURN
              label Date
                input#returnDate.form-control(name="returnDate", placeholder="Return Date")
              label Time
                input#returnTime.form-control(name="returnTime", placeholder="Return Time")
              label Manager
                input#returnPerson.form-control(name="returnPerson", placeholder="Return Person")
          .form-group
            col-xs-12.col-sm-12.col-md-12
              p
              hr
              p
              a.btn.btn-default(onclick="window.history.back()" role='button') Cancel
              button.btn.btn-default.pull-right(type="submit" value='Submit') Save