include _includes/sharedHTMLfunctions

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    script(src='../js/jquery.min.js')
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/custom.css')
    script(src='../js/bootstrap.js')

  body(onchange="handleFormChange()")
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') CCS
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar

        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown
              a.btn.dropdown-toggle(type='button', data-toggle='dropdown') Events
              ul.dropdown-menu
                li.dropdown-header.menu-header Events
                li
                  a(href='/new') New Event
                li
                  a(href='/events') Events
                li
                  a(href='/conflicts') Conflicts
                li.divider
                li.dropdown-header.menu-header Presenters
                li
                  a(href='/presenters') Presenters
                li
                  a(href='/presenterConflicts') Conflicts
                li.divider
                li.dropdown-header.menu-header Performers
                li
                  a(href='/performers') Performers
                li
                  a(href="/performerConflicts") Conflicts
                
            li.dropdown
              a.btn.dropdown-toggle(type='button', data-toggle='dropdown') Exhibits
              ul.dropdown-menu
                li
                  a(href='/exhibit/new') New Exhibit
                li
                  a(href='/exhibitors') Exhibitors
                li
                  a(href='/exhibits') Exhibits
                li
                  a(href='/exhibitConflicts') Conflicts

            li.dropdown
              a.btn.dropdown-toggle(type='button', data-toggle='dropdown') Sponsors
              ul.dropdown-menu
                li
                  a(href='/sponsorCreate') New Sponsor
                li
                  a(href='/sponsors') Sponsors
                li
                  a(href="/sponsorConflicts") Conflicts

            li.dropdown
              a.btn.dropdown-toggle(type='button', data-toggle='dropdown') Instruments
              ul.dropdown-menu
                li
                  a(href='/instrumentCreate') New Instrument
                li
                  a(href='/instruments') Instruments

            li.dropdown
              a.btn.dropdown-toggle(type='button', data-toggle='dropdown') CaaG
              ul.dropdown-menu
                li.dropdown-header.menu-header Hyatt
                  a.menu-item(href="/tables?building=Hyatt&date=02/16/2017") Thursday
                  a.menu-item(href="/tables?building=Hyatt&date=02/17/2017") Friday
                  a.menu-item(href="/tables?building=Hyatt&date=02/18/2017") Saturday
                  a.menu-item(href="/tables?building=Hyatt&date=02/19/2017") Sunday
                li.divider
                li.dropdown-header.menu-header Westin
                  a.menu-item(href="/tables?building=Westin&date=02/16/2017") Thursday
                  a.menu-item(href="/tables?building=Westin&date=02/17/2017") Friday
                  a.menu-item(href="/tables?building=Westin&date=02/18/2017") Saturday
                  a.menu-item(href="/tables?building=Westin&date=02/19/2017") Sunday

            li.dropdown
              a.btn.dropdown-toggle(type='button', data-toggle='dropdown') Development
              ul.dropdown-menu
                li
                  a(href='/api/events') Get All
                li
                  a(href='/api/events/58da811695d1f2cca324cc57') ReadOne
                li
                  a(href='/api/exhibits') Get Exhibits
                li
                  a(href='/api/exhibitsRead/5918dd18604537059eba6534') Get Exhibit
                li.divider
                li.dropdown-header.menu-header Conference
                li
                  a(href="/api/ccs") Get Ccs
                li
                  a(href="/ccs") Start
                li
                  a(href="/ccs/new") New Conference

            li.dropdown
              a.btn.dropdown-toggle(type="button", data-toggle="dropdown") Setup
              ul.dropdown-menu

    .container
      block content
    footer
      .row
        .col-xs-12.col-m-12.col-lg-12.col-s-12
          small &copy; 2017 
          a.footer(href="http://wmea.org" target="_blank") - wmea - 
          small jim kovach
      .row
        .col-xs-12
          small icons by 
            a.footer(href="http://glyphicons.com" target="_blank") Glyphicons
    noscript('this site will not work without javascript enabled, please enable your javascript')
    script(src='../js/conflicts.js')
    script(src='../js/validation.js')