extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(id="newForm" action="", method="post", role="form", novalidate)
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            col-xs-12.col-sm-12.col-md-12
              label Sponsor
                input#sponsor.form-control.input-required(autofocus=true name="sponsor"  placeholder="Required", required)
              label Institution
                input#institution.form-control(name="institution")
              p
              hr
              p

              a.btn.btn-default(onclick="window.history.back()", role='button') Cancel
              button.btn.btn-default.pull-right(type="Submit" value='Submit') Save