extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            col-xs-12.col-sm-12.col-md-12
              input#sponsor.form-control(name="sponsor", placeholder="sponsor")
              input#institution.form-control(name="institution", placeholder="institution")
              p
              button.btn.btn-default(type="Submit" value='Submit') Submit
              a.btn.btn-default.pull-right(href='/sponsors 'role='button') Cancel