table{
    width:100%;
    font-size: 70%;
}

th{
    text-align:center;
}

th, td{
    border: 1px solid #dddddd;
    width: 6.66%;
}

td:hover,a{
    color:gray:
}

.category{
    font-weight:800;
}

.title{
    font-style: italic;
}

.caag{
    text-align: center;
}

.container{
    margin:0;
    padding:0;
    width:100%;
}

.big-event{
    font-size: 2em;
}
.big-event p{
    font-size: .75em;
}

.big-event:hover{
    background:color:white;
}

a {
    color: black;
}

.blank{
    background-color: #eeeeee;
}

.blank a{
    color: #cccccc;
    font-size: 2em;
}

.blank a:hover{
    color: #33DD33;
    text-decoration: none;
    font-weight: bold;
}

.table-header{
    background-color: #000000;
    color: #ffffff;
}