html {
    position: relative;
    min-height: 100%;
}

img{
    opacity: 0.5;
}

body {
    margin-bottom: 90px;
    padding: 50px;
    background-size: cover;
}
p{
    margin-bottom: 4px;
    color: black;
}

a {
    color: black;
}

.menu-item{
    text-transform: capitalize;
    padding-left: 0;
}

a:hover{
    color: gray;
    text-decoration: underline;
}

.navbar .btn{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

ul.event{
    list-style-type: none;
}

ul.event li{
    padding-top : 5px;
}

.padded {
    padding-top : 30px;
}
.page-header{
    margin-top: 0px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-top : 10px;
    background-color : gray;
    color: silver;
    text-align : center;
}

.form-group{
    margin-bottom:1;
}

input{
    padding: 1px 8px;
}

.form-control{
    padding: 1px 8px;
    height: 30 px;
    color: black;
}

.program {
    font-family: "Times";
}

.program h3{
    text-align: center;
}

.program p{
    font-size: 1.2em;
    margin-bottom: 1px;
}

.program-description{
    font-style : italic;
}

.program-pull-right {
    text-align : right;
}

.exhibit {
    font-family:"Times";
    font-size: 150%;
    font-weight: 800;
    text-align: center;
    padding: 0;
    margin:0;
}

p.exhibit_centered{
    text-align: center;
}

p.exhibit_exhibitor{
    font-family: "Times";
    text-align: center;
    font-size: 120%;
}
.exhibit_info {
    font-family: "Times";
    font-size: 120%;
    line-height: 1;
}

.exhibit_info p{
    padding: 0;
    margin: 0;
}

.exhibit_description {
    font-family: "Times";
    font-style: italic;
    font-size: 120%;
    padding-top: 10px;
}


.error{
    color: red;
}
h1{
    font-size:1.5em;
}

.container{
    margin-right:0;
    margin-left:0;
    padding-right:5px;
    padding-left:5px;
}

.caagh{
    width : 6.66%;
}

@media screen and (min-width: 665px){
    .container{
        margin-right:auto;
        margin-left:auto;
    }
    
    h1{
        font-size:2em;
    }

}
.menu-header {
    font-size:1.25em;
}